@import 'variables';
html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}
body {
    
    header {
        font-family: 'Poppins', sans-serif;
        .navbar-brand {
            max-width: 150px;
            img {
                width: 100%;
            }
        }
        .navbar {
            background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgba(249,249,255,1) 100%,rgba(240,249,255,1) 100%);
            border-bottom: 1px solid lighten($primary-color, 35);
        }
        .navbar-nav {
            font-size: 1.8rem;
            .nav-item {
                transition: all ease .4s;
                .active {
                    color: $primary-color !important;
                }
                &:nth-child(odd):hover {
                    background: linear-gradient(to right, $secondary-color, $primary-color);
                    .nav-link {
                        color: #fff !important;
                        transition: all ease .4s;
                    }
                }
                &:nth-child(even):hover {
                    background: linear-gradient(to right, $primary-color,$secondary-color );;
                    .nav-link {
                        color: #fff !important;
                        transition: all ease .4s;
                    }
                }
            }
        }
    }
    main {
        font-family: 'Poppins', sans-serif;
        p, li {
            color: #7f888f;
        }
        section {
            margin-top: 30px;
            .section-title {
                font-size: 3.5rem;
                font-weight: 700;
                text-transform: uppercase;
                width: fit-content;
                margin: 0 auto 30px;
                position: relative;
                &::after {
                    content: '';
                    width: 50%;
                    height: 3px;
                    background: linear-gradient(to right, $secondary-color, $primary-color) 1;
                    position: absolute;
                    bottom: -5px; 
                    right: 25%;
                }
            }
            
            p { 
                font-size: 2rem;
                font-weight: 400;
            }
            ul {
                // list-style: none; 
                list-style-position: inside;
                text-align: start;
                padding-left: 0;
                li {
                    font-size: 1.6rem;
                    // text-align: center;
                }
            }
            a {
                font-size: 1.7rem;
            }
            .container {
                background-color: $bg-light;
                background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgba(249,249,255,1) 100%,rgba(240,249,255,1) 100%);

                padding: 20px;
            }
        }
        section:nth-child(even) {
            background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgba(249,249,255,1) 100%,rgba(240,249,255,1) 100%);
            box-shadow: 0px 3px 7px -3px rgba(0,178,255,0.2);
            padding: 20px 0;

            .container {
                background-color: transparent;
                box-shadow: none;
            }
        }

        .hero {
            margin-top: 90px;
            h1 {
                font-size: 4.5rem;
                font-weight: 600;
            }
        }

        .projetos, .habilidades {
            .content-item {
                box-shadow: 0px 0px 5px 0px rgba(0,178,255,0.1);
                padding: 10px;
                height: 100%;
                transition: all ease .3s;

                &:hover {
                    box-shadow: 0px 0px 7px 3px rgba(0,178,255,0.33);
                    .img-area img{
                        transform: scale(1.075);
                    }
                    
                }
                .infos-area {
                    padding: 10px 0;
                    .item-title {
                        font-size: 2rem;
                        margin-bottom: 10px;
                    }
                    .ferramentas-title {
                        margin: 20px 0 15px;
                    }
                    p{
                        text-align: center;
                        font-size: 1.6rem;
                    }
                    a {
                        display: block;
                        width: fit-content;

                        text-decoration: none;
                        background: linear-gradient(to right, $secondary-color, $primary-color) ;
                        padding: 10px 15px;
                        color: #fff;
                        margin: 20px  auto;
                        transition: all ease .8s;
                        &:hover {
                            background: linear-gradient(to right, $primary-color,$secondary-color );
                        }
                    }
                }
                .icon-area {
                    text-align: center;
                    margin: 20px auto;
                    max-width: 60px;
                    img {
                        width: 100%;
                    }
                }
                .img-area {
                    overflow: hidden;
                    text-align: center;
                    margin: 20px auto;
                    max-width: 300px;
                    img {
                        width: 100%;
                        transition: all ease .5s;

                    }
                }
                
            }
        }
        .sobre {
            .foto {
                .border-foto {
                    width: 100%; 
                    // border-width: 15px;
                    // border-style: solid;
                    // border-image: linear-gradient(to right, $secondary-color, $primary-color) 1;
                    text-align: center;
                    img {
                        text-align: center;
                        width: 100%;
                        transition: all ease 0.3s;

                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }
                
            }
        }
    }

    .contato {
        div {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 10px;
            a {
                color: #7f888f;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    margin-right: 10px;
                    font-size: 30px;
                }
                &:hover {
                    // background-color: linear-gradient(to right, $secondary-color, $primary-color);
                    background-image: linear-gradient(to right, $primary-color, $secondary-color);
  
                    /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
                    background-clip: text;
                    -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
                  
                    /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
                    -webkit-text-fill-color: transparent;
                    i {
                        // background-color: linear-gradient(to right, $secondary-color, $primary-color);
                        background-image: linear-gradient(to right, $secondary-color, $primary-color);
  
                        /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
                        background-clip: text;
                        -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
                      
                        /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
    }

    footer {
        margin-top: 50px;
        text-align: center;
        font-size: 1.6rem;
    }

}
@media(min-width: 992px) {
    .container {
        max-width: 860px !important;
    }
}
